:root {
  --primary-color: hsl(54, 100%, 50%);
  --secondary-color: #fff;
  --foreground-color: hsl(54, 6%, 5%);
  --background-color: #fff;
  --background-color3: hsl(54, 6%, 5%);
  --background-color2: #fff;
  --color1: #fff;
  --color2: hsl(54, 6%, 5%);
  --section4__padding: 100px;
}

*::selection {
  color: #212121;
  background-color: var(--primary-color);
}

@font-face {
  font-family: "ginger";
  src: url("../font/EuclidCircularB.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ginger";
  src: url("../font/EuclidCircular-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

body {
  font-family: "ginger";
  /* background-color: var(--background-color3); */
  overscroll-behavior-y: none;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html.has-scroll-smooth {
  backface-visibility: hidden;
  transform: translateZ(0);
}

[data-scroll-container] {
  perspective: 1px;
}

/* .saperater {
  max-width: 90vw;
  height: 1px;
  background-color: #212121;
  margin-inline: auto;
  opacity: 0.12;
} */
.cursor1 {
  position: fixed;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cursor2 {
  position: fixed;
  width: 24px;
  height: 24px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@media (hover: none) {
  .cursor1 {
    display: none;
  }

  .cursor2 {
    display: none;
  }
}

.c-scrollbar {
  z-index: 9999 !important;
}

.c-scrollbar_thumb {
  background-color: #808080 !important;
  opacity: 0.8 !important;
}

.intro {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 5vw;
  padding-left: 5vw;
  position: fixed;
  pointer-events: none;
  z-index: 99999;
  color: #f3f3f3;
  display: none;
}

.intro h2 {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: -1.68px;
  line-height: 1.2em;
  text-align: left;
  margin-bottom: 21px;
}

.intro .animation__wrapper {
  overflow: hidden;
  position: relative;
}

.intro .animate__this {
  display: inline-block;
  position: absolute;
  margin-left: 13px;
  transform: translate(0%, 200%) skew(-10deg, 0deg) scale(1, 1.5);
  transform-origin: 50% 100%;
}

.yellow__it {
  color: var(--primary-color);
}

.yellow__it.skew {
  transform: skewX(10deg);
}

.intro h3 {
  font-size: 72px;
  font-weight: lighter;
  position: absolute;
  bottom: 3vw;
  right: 5vw;
}

.intro h3 #starter__number {
  font-size: 80px;
}

.section__1 {
  color: #f3f3f3;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  /* background-color: #000; */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* padding-bottom: 200px; */
  /* background-image: url("../img/dennissnellenberg.png"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.section__hero {
  position: absolute;
  width: 100vw;
  min-height: 130vh;
  top: 0;
  left: 0;
  background-color: #000;
  background-image: url("../img/denni2.png");
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.section__1 .top {
  font-size: 250px;
  font-weight: 300;
  margin-left: 190px;
  margin-top: 85px;
  align-self: flex-start;
  justify-self: flex-start;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
  white-space: nowrap;
}

.section__1 .top h1 {
  font-weight: 300;
  transform: skewX(-10deg);
}

.section__1 .top span {
  display: inline-block;
  transform-origin: 50% 100%;
}

.section__1 .logo__y {
  width: 0.455em;
  fill: #f3f3f3;
  margin-left: 0.0289em;
}

.section__1 .bottom {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 32px;
  background-color: #000;
  padding-bottom: 250px;
  font-weight: lighter;
}

.section__1 .left {
  transform-origin: 50% 100%;
}

.section__1 .middle {
  margin-left: 100px;
  transform-origin: 50% 100%;
}

.section__1 .right {
  font-size: 48px;
  line-height: 1.2em;

  max-width: 58.3333333333%;
  transform-origin: 50% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@media only screen and (max-width: 768px) {
  .intro h3 {
    bottom: 70px;
  }

  .section__1 {
    min-height: 100vh;
  }

  .section__1 .top {
    font-size: 14vw;
    margin-left: 32px;
  }

  .section__1 .right {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    font-size: 8vw;
    text-align: left;
  }

  .section__1 .middle {
    margin-left: 0px;
    font-size: 5vw;

    text-align: left;
  }

  .section__1 .left {
    text-align: left;
    font-size: 5vw;
  }

  .section__1 .bottom {
    padding-bottom: 50px;
    justify-content: start;
    gap: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .section__1 .top {
    font-size: 14vw;
  }
}

.section__2 {
  overflow: hidden;
  width: 100vw;
  /* height: 120vh; */
  /* background-color: aquamarine; */
  background-color: var(--background-color2);
}

.section__2 .sick2 {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  position: relative;
  /* height: 120vh; */
  background-color: #171717;
  padding-block: 70px;
  color: var(--background-color2);
  isolation: isolate;
  min-height: 80vh;
}

.section__2 .sick2 .content__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__2 .sick2 video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.section__2 .small__heading {
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 1.32px;
  line-height: 13.2px;
  margin-bottom: 17.2px;
  overflow: hidden;
}

.section__2 .small__heading span {
  display: inline-block;
}

.section__2 .small__heading__ribbon {
  height: 7px;
  width: 24px;
  background-color: var(--primary-color);
  transform: skewY(-16deg) scaleX(1);
  margin-bottom: 39.6px;
  transform-origin: bottom left;
}

.section__2 h2 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -1.68px;
  line-height: 50.4px;
  max-width: 800px;
  text-align: center;
  margin-bottom: 21px;
}

.section__2 h2 div {
  overflow: hidden;
}

.section__2 h2 div span {
  display: inline-block;
}

.section__2 h4 {
  font-size: 16px;
  max-width: 580px;
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.32px;
  line-height: 27.2px;
}

.section__2 h4 div {
  overflow: hidden;
}

.section__2 h4 div span {
  display: inline-block;
}

.section__3 {
  height: 130vh;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__3 .heading {
  position: relative;
  z-index: 1;
  font-size: 180px;
  text-align: center;
  letter-spacing: -0.04em;
  line-height: 0.9em;
  color: var(--background-color2);
}

@media only screen and (max-width: 768px) {
  .section__3 .heading {
    font-size: 25vw;
  }
}

@media only screen and (max-width: 425px) {
}

.section__3 .work__cto {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.section__3 .work__cto div {
  border: 2px solid var(--primary-color2);
}

.section__3 .work__cto div.center {
  padding: 0.2em 1em;
  font-size: 10.5px;
  letter-spacing: 1.05px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color2);
  background-color: hsl(0deg 0% 100% / 10%);
  border-radius: 8px;
}

.section__3 .work__cto div.left,
.section__3 .work__cto div.right {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section__3 .work__cto div.left {
  width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  background-color: var(--primary-color2);
  transition: width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.05s,
    border-left-width 0.05s linear 0.38s;
}

.section__3 .work__cto div.right {
  width: 44.19px;
  border-left-width: 0px;
  transition: width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.15s,
    border-right-width 0.05s linear 0.38s;
}

.section__3 .work__cto div.right svg {
  transform: translateX(0%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0.29s;
}

.section__3 .work__cto div.left svg {
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0s;
}

.section__3 .work__cto:hover div.right {
  width: 0px;
  border-right-width: 0px;
  transition: width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.05s,
    border-right-width 0.05s linear 0.38s;
}

.section__3 .work__cto:hover div.left {
  width: 44.19px;
  border-left-width: 2px;
  transition: width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.15s,
    border-left-width 0.05s linear 0.38s;
}

.section__3 .work__cto:hover div.right svg {
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0s;
}

.section__3 .work__cto:hover div.left svg {
  transform: translateX(0%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0.29s;
}

.section3__video {
  position: absolute;
  width: 95%;
  height: 100%;
  border-radius: 6.25vw;
  overflow: hidden;
  background-color: #000000;
  align-self: flex-start;
}

.section3__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.section__3__bg {
  height: 150%;
  width: 150%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(0deg);
  transform-origin: 50% 0%;
  display: flex;
  justify-content: center;
}

.section__3__bg .bg__img {
  width: 200px;
  height: 200px;
  background-color: var(--primary-color);
  position: relative;
  opacity: 0;
}

.section__3__bg .bg__img1 {
  transform: translate(200px, -200px);
}

.section__3__bg .bg__img2 {
  transform: translate(-800px, 0px);
}

/* transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1) */

.section__4 {
  background-color: var(--color1);
  /* background-color: aqua; */
  z-index: 5;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding-top: var(--section4__padding);
  padding-inline: var(--section4__padding);
  /* padding-inline: 100px; */
  /* background-image: url("../img/dennissnellenberg-copy.png"); */
  background-size: 101%;
  background-repeat: no-repeat;
  /* width: 100%; */
}

.section__4-wrraper {
  background-color: var(--background-color);
  /* width: 90%; */
  border-radius: var(--section4__padding);
  /* height: 90%; */
  z-index: 5;
  position: relative;

  padding-bottom: calc(100px - var(--section4__padding));

  margin-inline: auto;
  /* filter: drop-shadow(0 0rem 2rem rgba(0, 0, 0, 0.2)); */
}

/* .section4__bg {
  background-color: var(--secondary-color);
  width: 100%;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(10deg);
  z-index: -1;
}

.section4__bg2 {
  background-color: var(--secondary-color);
  width: 100%;
  height: 50%;
  position: absolute;
  top: -1%;
  right: 0%;
  z-index: -1;
} */

.section__4 .about__section {
  /* min-height: 60vh; */
  /* background-color: #000; */
}

.section__4 .about__section__wrapper {
  min-height: 60vh;
  max-width: calc(100vw - (2 * 100px));
  /* background-color: red; */
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 130px;
  padding-block: 200px;
}

.section__4 .left {
  width: 100%;
}

.section__4 .left h2 {
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: -1.68px;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 21px;
}

.section__4 .left .animation__wrapper {
  overflow: hidden;
  position: relative;
}

.section__4 .left .animate__this {
  display: inline-block;
  position: absolute;
  /* margin-left: 20px; */
  left: 50%;
  transform: translate(-50%, 200%) scale(1, 1);
  transform-origin: 50% 100%;
  white-space: nowrap;
  opacity: 0;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%); */
}

.section__4 .right {
  display: flex;
  gap: 3rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.section__4 .right .top {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1.32px;
  line-height: 41.2px;
  margin-top: 1em;
  /* max-width: 600px; */
  color: var(--foreground-color);
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; */
  /* overflow: hidden; */
}

.section__4 .right .bottom {
  display: none;
}

.rotatedAnchor {
  display: block;
  margin-top: calc(0.5vw + 1.5rem);
  position: relative;
  width: clamp(80px, 10.3vw, 100px);
  aspect-ratio: 1/1;
  margin-inline: auto;
}

.rotatedAnchor img,
.section__4 .link__hover {
  position: absolute;
  width: 100%;
}

/* .rotatedAnchor .circulerText {
  border: 2px dashed black;
  border-radius: 50%;
  width: clamp(80px, 10.3vw, 85px);
  aspect-ratio: 1/1;
} */

.section__4 .link__hover {
  height: 80%;
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
  transform: translate(12%, 12%) scale(0);
}

.rotatedAnchor:hover .link__hover {
  transform: translate(12%, 12%) scale(1);
}

.section__4 .small__heading {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.32px;
  line-height: 13.2px;
  margin-bottom: 17.2px;
  margin-inline: auto;
  text-align: center;
  color: var(--foreground-color);
  /* margin-top: 200px; */
}

.section__4 .small__heading__ribbon {
  height: 7px;
  width: 24px;
  background-color: var(--primary-color);
  transform: skewY(-16deg) scaleX(1);
  margin-bottom: 39.6px;
  margin-inline: auto;
}

.menu {
  display: grid;
  place-items: center;
  justify-content: center;
  align-content: center;
}

.menu__item {
  position: relative;
  padding: 0 6vw;
  display: flex;
  justify-content: center;
  transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);
  transform-origin: 50% 0%;
  margin-block: 1vw;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: var(--foreground-color);
  transition: transform 0.25s, opacity 1s;
  will-change: transform;
  transform-origin: 100% 50%;
  opacity: 1;
}

.menu__item-link.active {
  opacity: 0.5;
}

/* .menu__item-link::before {
  all: initial;
  font-family: sofia-pro, sans-serif;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
} */

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 25vh;
  max-height: 400px;
  opacity: 0;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate3d(-50%, -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 4deg);
  transition: all 0.4s;
}

.marquee {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--foreground-color);
  pointer-events: none;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  opacity: 0;
  transition: opacity 0.4s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  opacity: 1;
  transition-duration: 0.4s;
}

/* .menu__item:hover ~ .menu__item {
  opacity: 0.5;
} */

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: 7vw;
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
  text-align: center;
}

.section__4 .it {
  padding: 0;
}

@media only screen and (max-width: 425px) {
  :root {
    --section4__padding: 20px;
  }

  .section__4-wrraper {
    padding-bottom: calc(20px - var(--section4__padding));
  }

  .section__4 .about__section__wrapper {
    max-width: calc(100vw - (2 * 20px));
  }

  .menu__item-link,
  .marquee span {
    font-size: 10vw;
    white-space: nowrap;
    padding: 4vw 0vw;
  }

  .section__4 .it {
    /* display: block; */
  }
}

.section__5 {
  background-color: var(--background-color);
  /* min-height: 700px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 60px;
  isolation: isolate;
  overflow: hidden;
}

.section__5 .footer__left {
  color: #fff;
}

.section__5 .footer__heading {
  font-size: 3vw;
  white-space: nowrap;
  font-weight: bold;
  color: var(--color2);
  background-color: var(--background-color2);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  line-height: 1em;
  position: absolute;
}

.section__5 .footer__img_wrapper {
  position: relative;
  /* bottom: 0; */
  z-index: -1;
}

.section__5 img {
  height: 450px;
  opacity: 0.5;
}

.section__5 > div {
  min-height: 52.2px;
  min-width: 90%;
  background-color: var(--background-color);
  position: absolute;
  border-top: 1px solid #262626;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}

.section__5 .footer__icons {
  margin-inline: 10px;
}

@media only screen and (max-width: 768px) {
  .section__5 .footer__heading {
    font-size: 7vw;
  }

  .section__5 img {
    height: 350px;
  }
}

@media only screen and (max-width: 425px) {
  .section__5 > div {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .section__5 {
    padding-bottom: 120px;
  }
}
