:root {
  --primary-color: hsl(54, 100%, 50%);
  --padding: clamp(20px, 7.8vw + 10px, 150px);
  --padding2: 0vw;
  /* --colorDark: #0e0d0c;
  --colorLight: #fff; */
  --fontExtraSmallest: 10px;
  --fontExtraSmall: 18px;
  --fontSmall: 40px;
  --fontBig: 66px;
  --fontExtraBig: clamp(182px, 12vw, 220px);
}

@media only screen and (max-width: 768px) {
  :root {
    --fontExtraSmall: 16px;
    --fontSmall: 4.5vw;
    --fontBig: 8.5vw;
    --fontExtraBig: 23vw;
    --padding2: 5vw;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --fontExtraSmall: 16px;
    --fontSmall: 7vw;
    --fontBig: 8.4vw;
    --fontExtraBig: 20vw;
    --padding2: 5vw;
  }
}

/* @font-face {
  font-family: "Ginger";
  src: url("../font/woff/F37Ginger-Bold.woff2") format("woff2"),
    url("../font/woff/F37Ginger-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ginger";
  src: url("../font/woff/F37Ginger.woff2") format("woff2"),
    url("../font/woff/F37Ginger.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

html {
  /* font-size: 62.5%; */
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 450;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home__starteranimation {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: scale(1) rotate(0deg);
  transition: opacity 1.2s cubic-bezier(1, 0, 0.29, 1);
  z-index: 10000;
  pointer-events: none;
}

.home__starteranimation .background__color {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  /* clip-path: polygon(
    0% 0%,
    0% 100%,
    35% 100%,
    35% 34%,
    65% 34%,
    65% 62%,
    35% 62%,
    35% 100%,
    100% 100%,
    100% 0%
  ); */
  /* display: none; */
}

.home__starteranimation .animation__container {
  max-width: 850px;
  width: 100%;
  aspect-ratio: 1/1;
  /* background-color: var(--colorDark); */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1.2s cubic-bezier(1, 0, 0.29, 1);
  /* background-color: var(--text-color); */
}

.home__starteranimation .animation__container.not {
  max-width: 850px;
  aspect-ratio: 1/1;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    35% 100%,
    35% 41%,
    65% 41%,
    65% 58%,
    35% 58%,
    35% 100%,
    100% 100%,
    100% 0%
  );
}

.yellow__it {
  color: var(--primary-color);
}

.myImage {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  /* display: none; */
}

.myImage picture {
  width: 100%;
  height: 100%;
  /* max-width: 850px; */
  object-fit: cover;
}

.myImage picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hire-me--wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none !important;
}

.hire-me--text {
  position: absolute;
  transform-style: preserve-3d;
  will-change: transform;
}

.badge__svg {
  display: inline-block;
  animation: rotate 30s infinite linear;
}

textPath {
  text-transform: uppercase;
  font-size: 8.64px;
}

.hand {
  padding-left: 10px;
}

/* magnet */

.magnetic {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  will-change: transform;
}

.shapka {
  display: inline-block;
  will-change: transform;
}

/* limit */

.wrapperRollingText {
  white-space: nowrap;
  position: absolute;
  bottom: 5%;
  /* width: 100vw; */

  --mask: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 0) 15%,
    hsl(0, 0%, 100%) 25%,
    hsl(0, 0%, 100%) 75%,
    hsla(0, 0%, 0%, 0) 85%
  );

  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}
.rollingText {
  white-space: nowrap;
  font-weight: bold;
  font-size: var(--fontExtraBig);
  display: inline-block;
  /* padding-left: 10px; */
}

/* ad/ */
.section__1 .left {
  font-size: var(--fontSmall);
  position: absolute;
  left: 0;
  bottom: 50%;
}

.section__1 .left .free {
  white-space: nowrap;
}

.section__1 .left .animation__wrapper {
  overflow: hidden;
  position: relative;
}

.section__1 .left .animate__this {
  display: inline-block;
  position: absolute;
  /* margin-left: 20px; */
  /* left: 50%; */
  transform: translate(0%, 200%) scale(1, 1);
  transform-origin: 50% 100%;
  white-space: nowrap;
  opacity: 0;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%); */
}

.section__1 .left:before {
  display: block;
  content: "";
  background-image: url(/svg/arrow2.svg);
  background-size: cover;
  height: 0.8em;
  width: 0.8em;
  position: absolute;
  transform: translate(0px, -2em);
}

.email_section1 {
  position: absolute;
  right: 0;
  bottom: 50%;
}

.email_section1 .round {
  position: relative;
  /* transform: translateX(-50%); */
  width: 130px;
  height: 130px;

  border-radius: 50%;
}

.email_section1 .round img {
  width: 65%;
  background-color: var(--colorDark);
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .section__1 .left {
    /* letter-spacing: -1.68px; */
    /* line-height: 1.2em; */
    /* text-align: center; */
    /* margin-bottom: 21px; */
    position: absolute;
    left: 0px;
    bottom: 30px;
    /* top: 34.6%; */
  }

  .wrapperRollingText {
    bottom: 160px;
  }

  .email_section1 .sqaure {
    display: none;
  }

  .email_section1 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: auto;
  }

  .email_section1 .round {
    transform: translateX(0%);
    background-color: transparent;
    width: 105px;
  }

  .email_section1 .round img {
    background-color: transparent;
  }

  .myImage img {
    width: 150%;
  }
}

@media only screen and (max-width: 425px) {
}

.section__2__separater::before {
  color: red;
  display: block;
  content: "";
  background-image: url(/svg/arrow2.svg);
  background-size: cover;
  aspect-ratio: 1/1;
  right: 0;
  rotate: 90deg;
  width: 30px;
  position: absolute;
  margin-top: -215px;
  margin-right: 40px;
  transform: translate(-50%, -50%);
}

/* ad/ */

/* * {
  outline: 1px solid hotpink !important;
} */

.work_heading {
  position: relative;
  z-index: 1;
  font-size: var(--fontExtraBig) !important;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.01em;
  line-height: 0.9em;
  color: white;
  transform-origin: top left;
}

.section__3 .work__cto {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.section__3 .work__cto div {
  border: 2px solid var(--primary-color2);
}

.section__3 .work__cto div.center {
  padding: 0.2em 1em;
  font-size: var(--fontExtraSmallest);
  letter-spacing: 1.05px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorLight);
  background-color: hsl(0deg 0% 100% / 10%);
  border-radius: 8px;
}

.section__3 .work__cto div.left,
.section__3 .work__cto div.right {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section__3 .work__cto div.left {
  width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  background-color: var(--primary-color2);
  transition:
    width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.05s,
    border-left-width 0.05s linear 0.38s;
}

.section__3 .work__cto div.right {
  width: 44.19px;
  border-left-width: 0px;
  transition:
    width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.15s,
    border-right-width 0.05s linear 0.38s;
}

.section__3 .work__cto div.right svg {
  transform: translateX(0%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0.29s;
}

.section__3 .work__cto div.left svg {
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0s;
}

.section__3 .work__cto:hover div.right {
  width: 0px;
  border-right-width: 0px;
  transition:
    width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.05s,
    border-right-width 0.05s linear 0.38s;
}

.section__3 .work__cto:hover div.left {
  width: 44.19px;
  border-left-width: 2px;
  transition:
    width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.15s,
    border-left-width 0.05s linear 0.38s;
}

.section__3 .work__cto:hover div.right svg {
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0s;
}

.section__3 .work__cto:hover div.left svg {
  transform: translateX(0%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0.29s;
}

.section3__video {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* padding: var(--padding); */
  /* display: none; */
  z-index: -1;
}

.section3__video video {
  /* border-radius: 0.5vw; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  overflow: hidden;
}

/* section__5 */

.section__5 .footer__left {
  color: var(--colorDark);
  font-size: var(--fontExtraSmallest);
}

.section__5 .footer__heading {
  font-size: var(--fontSmall);
  white-space: nowrap;
  font-weight: bold;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1em;
  text-align: center;
  line-height: 1em;
  position: absolute;
  color: var(--colorLight);
  background: hsl(0deg 0% 100% / 5%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
}

.section__5 .footer__img_wrapper {
  position: relative;
  /* bottom: 0; */
  z-index: -1;
}

.section__5 .footer__links {
  min-height: 52.2px;
  /* min-width: calc(100% - (var(--padding))); */
  width: 100%;
  /* position: absolute; */
  /* border-top: 1px solid #bababa; */
  bottom: 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-inline: 20px; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about__me {
  max-width: 1250px;
  max-height: 50vh;
  margin-bottom: 20px;
  margin-inline: auto;
  /* overflow: hidden; */
}

.section__2_left {
  width: 80%;
  font-size: var(--fontBig);
  font-weight: bold;

  line-height: 1.6em;
  color: var(--colorDark);
}

#my-text .line,
#my-text2 .line {
  overflow: hidden;
}

.section__2_right {
  width: 40%;
  font-size: var(--fontExtraSmall);
  color: var(--colorDark);
  position: relative;
}

.section__2_top {
  padding-top: 25px;
  line-height: 1.7em;
  letter-spacing: 0.05em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.section__2_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__2 .footer__heading {
  /* font-size: var(--fontSmall); */
  white-space: nowrap;
  font-weight: 600;
  color: var(--colorLight);
  background-color: var(--colorDark);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5em;
  line-height: 1em;
  position: relative;
  margin-top: 40px;
}

.me {
  font-weight: 450;
  font-size: var(--fontExtraSmall);
  line-height: 1.065;
  margin-bottom: 1em;
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  opacity: 0.5;
  max-width: 1250px;
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-block: 50px;
  margin-inline: auto;
  width: 100%;
  /* position: absolute; */
}

@media only screen and (max-width: 768px) {
  .about__me {
    padding-inline: 0px;
    margin-bottom: 30px;
    /* overflow: hidden; */
  }

  .section__2 .container {
    flex-direction: column;
    padding: 0;
  }

  .section__2_left {
    width: auto;
    white-space: nowrap;
    padding-right: 0px;
    line-height: 1.2em;
    text-align: left;
  }

  .section__2_right {
    width: auto;
  }

  .me {
    padding-left: 0;
    margin-block: 10px;
    display: block;
  }

  .rounded__div {
    height: 10vh;
  }

  .section__2_bottom {
    justify-content: flex-end;
  }

  .section__2 .footer__heading {
    margin-left: 0px;
    margin-top: -30px;
  }

  .section__2_top {
    -webkit-line-clamp: 5;
    padding-right: 28vw;
  }
}

@media only screen and (max-width: 425px) {
}

.slider-inner {
  /* width: max-content; */
  position: absolute;
  height: 100%;
  /* min-width: auto; */
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;

  /* flex-wrap: nowrap; */
  justify-content: space-evenly;
  align-items: center;
}

#one {
  position: relative;
  /* height: 27vh; */
  flex-grow: 1;
  max-height: 22vh;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  /* border-top: 1px solid rgba(0, 0, 0, 0.106); */
  padding-block: 15px;
  /* max-width: 1620px; */
}

.slider_wip {
  width: 100%;
  /* max-width: 1250px; */
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  display: flex;
}

/* .slider-inner:last-child {
  left: 100%;
} */

.bi-linkedin {
  width: 2em;
  fill: var(--colorLight);
}

/* .section {
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
  position: relative;
} */

.slider .g-7 {
  padding: 1vw;
}
.g-7 {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  /* margin-inline: 100px; */
  justify-content: center;
  align-items: center;

  /* border-left: 1px dashed rgba(0, 0, 0, 0.106); */
}
.img-wrapper {
  display: flex;
  flex-direction: column;
  /* border-radius: 8px; */
  overflow: hidden;
  height: 100%;
  aspect-ratio: 1/1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
  /* border-left: 1px dashed var(--colorSecondaryDark); */
  /* opacity: 0.7;
  filter: invert(0.9); */
  /* margin-inline: 20px; */
  /* aspect-ratio: 1/1; */
}
.img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: #fff; */
}

.disabled {
  opacity: 0.4;
}

a {
  text-decoration: none;
  color: var(--colorLight);
  /* transition: 400ms all linear; */
}

@media only screen and (max-width: 768px) {
  .slider_wip {
    width: auto;
  }

  #one {
    width: 100%;
    flex-grow: 1;
    max-height: 20vh;
    /* height: 27vh; */
  }
}

@media only screen and (max-width: 425px) {
}
